* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sidebar {
    margin: 10px;
    padding: 10px;
    background-color: #baecba;
    color: white;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
    box-shadow: 0 5px 20px rgba(127,127,127,0.2);
}

.sidebar>h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar>input {
    border-radius: 9999999px;
    border: none;
    outline: none;
    height: 25px;
    width: 200px;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 0 5px 10px rgba(127,127,127,0.3);
}

.sidebar:focus-within {
    box-shadow: 0 9px 24px rgba(127,127,127,0.1);
    transform: translateY(-4px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 12px;
}

header>button {
    background-color: white;
    background-image: url(settings.svg);
    width: 25px;
    aspect-ratio: 1 / 1;
    border: none;
    opacity: 0.2;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
header>button:hover {
    transform: scale(110%);
    opacity: 0.5;
}
header>button:active {
    transform: scale(90%);
    opacity: 0.1;
}

gap {
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;   
}

span {
    margin-left: 35px;
}

.settings {
    width: fit-content;
    padding: 10px 15px;
    transform: translateY(-25px);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    pointer-events: none;
    user-select: none;
}
.settings-showing {
    transform: translateY(0px);
    opacity: 1;
    pointer-events: auto;
}

footer {
    position: fixed;
    bottom: -5px;
    opacity: 0;
    transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
}

.showing {
    bottom: 15px;
    opacity: 0.2;
}

.results {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: fit-content;
}
.result {
    width: 100%;
    display: contents;
}
.result_part {
    flex: 1;
}
.result_name {
    grid-column: 1;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
}
.result_divider {
    grid-column: 2;
    width: 1px;
    background: lightgray;
}
.result_count {
    grid-column: 3;
    padding-left: 10px;
    white-space: nowrap;
}
.results::before {
    content: "";
}

.results_container {
    margin-top: 25px;
    border: 1px solid rgb(240,240,240);
    padding: 15px;
    border-radius: 15px;
    width: fit-content;
    overflow: hidden;
}

.results_container>h4 {
    text-align: center;
    margin-bottom: 5px;
}

.results>* {
    user-select: none;
}